<button onclick="popupNaverLogin()">Naver Login</button>

<script>
    function popupNaverLogin() {
        window.open('{{{loginUrl}}}', 'popupNaverLogin', 'width=700,height=500,scrollbars=0,toolbar=0,menubar=no')
    }
</script>